<tbody>
    <% vehicles.forEach((vehicle) => { %>
        <% 
            const type = VEHICLES_TYPES[vehicle.vehicleType] || VEHICLES_TYPES['default'];
            const icon = type.icon;
            const color = type.colorHex;
        %>
        <tr id="tr-<%= vehicle.vehicleId %>">
            <td><%= vehicle.vehicleId %></td>
            <td data-vehicle-type="<%= vehicle.vehicleType %>"><i class="material-icons"><%= icon %></i></td>
            <td><%= capitalize(vehicle.type) %></td>
            <td><%= vehicle.dayOfWeek %></td>
            <td><%= vehicle.hour %></td>
            <td><%= capitalize(vehicle.dayType) %></td>
        </tr>
  <% }); %>
</tbody>