<div class="row" style="justify-content:center;">
    <% 
        const groupby = _.groupBy(vehicles, 'section');
        Object.keys(SECTIONS).forEach(function(key) {
            const type = SECTIONS[key] || {};
            const icon = type.icon;
            const text = `Section #${key}`;
            <!-- const color = type.color; -->
        %>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon" 
                style="display:flex;align-items:center;flex-direction:row;justify-content: center;float: inherit;
                width: 60%;
                margin-right: auto;
                margin-left: auto;background: linear-gradient(
90deg
, rgba(47,238,181,1) 0%, rgba(0,212,255,1) 100%);">
                    <span>SECTION</span>
                    <i class="material-icons"><%= icon %></i>
                </div>
                <!-- <p class="card-category"><%= text %></p> -->
                <h4 class="card-title" style="text-align: center;font-weight:bold;transition: all 0.2s ease;"><span id="counter-<%= key %>"><%= groupby[key]?.filter(item => item.type.toLowerCase().indexOf('enter') !== -1).length || 0 %></span><span> Vehicles inside</span>
                </h4>
                </div>
                <div class="card-footer">
                <div class="stats">
                    <a href="javascript:;" data-toggle="modal" data-target="#modal<%= key %>">Show details</a>
                </div>
                </div>
            </div>
        </div>
        <%- include('./vehicle-modal',{key,vehicles:groupby[key] || []}); %>
    <% }); %>
  </div>